<div class="col-3">
    <h2>Şifremi Unuttum</h2>
    <hr />
    <h5>Lütfen e-mail adresinizi giriniz.</h5>
    <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-4">
            <label for="Email"></label>
            <input name="Email" type="email" class="form-control"></input>
        </div>
        <button class="btn btn-primary" type="submit">Gönder</button>
    </form>
</div>